.header{
  scale:0.7;
}

#progressContainer {
    width: 100%;
    height: 5px;
    background: #eee;
    margin-top: 10px;
  }
.move{
  animation: toTop 0.3s ease-in forwards;
}
  @keyframes toTop {
    from {
      transform: translateY(500px);
    }
    to {
      transform: translateY(0px);
    }
  }

.interview h2{
    background-color: #c4ecff;
    color:black;
}
.interview h3{
    margin-bottom: 0;
}
.question p{
    margin:0;
}

  [id^="respond-"]:hover{
    opacity:0.5;
    cursor: none;
  }

  h3{
    font-family:authentic
  }
  hr{
    margin:30% 0 3% 0;
  }

  .interview-info{
    margin-bottom: 0;
  }
  .interview h3{
    background-color:rgb(255, 200, 245);
    margin-top:0;
  }
  .question,h2,h3{
    position: relative;
    z-index: 10;
  }

  .interview-intro{
    margin: 10%;
    font-optical-sizing: auto;
    font-weight: 500;
    position: relative;
    font-size: 25px;
    line-height: 30px;

  }

  .interview-gallery {
    position: fixed;
    top: 10%;
    width: 55%;
    left: 0;
    z-index: -1;
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s ease, transform 0.5s ease;
    transform: translateY(100px);
  }

  .image-caption{
    display: flex;
    position: absolute;
    width: 100%;
    z-index: 1000;
    font-size: 15px;
    right:0;
    text-align: right;
    font-family: 'space_mono';
    justify-content: end;
    background-color: rgb(255, 255, 143);
  }

  
  
  .interview-gallery picture {
    display: block;
    width: 100%;

    position: relative;
    opacity: 0;
    transition: opacity 0.6s ease;
  }
  
  .interview-gallery.show picture {
    opacity: 1;
  }
  
  .interview-gallery img {
    display: block;
    width: 100%;
    object-fit: contain;
    mix-blend-mode: darken;
    filter: blur(0);
    transition: transform 0.6s ease, opacity 0.6s ease;
  }
  
  .interview-gallery.show  {
    opacity: 1;
    transform: scale(1) translateY(0);
    filter: blur(0);
  }
  
  .interview-gallery .next-image {
    opacity: 0;
    transform: scale(0.95) translateY(40px);
    filter: blur(2px);
    transition: all 1s ease;
  }

  .interview-info img{
    animation: jumpyShift 2s steps(1) infinite;
  }


  @keyframes jumpyShift {
    0%   { transform: translate(0px, 0px); filter: url(#filter); }
    10%  { transform: translate(1px, -1px); filter: url(#displacementFilter) url(#filter); }
    20%  { transform: translate(-1px, 1px); filter: url(#filter); }
    30%  { transform: translate(1px, 1px); filter: url(#displacementFilter) url(#filter); }
    40%  { transform: translate(-1px, -1px); filter: url(#filter); }
    50%  { transform: translate(1px, 1px); filter: url(#displacementFilter) url(#filter); }
    60%  { transform: translate(-1px, -1px); filter: url(#filter); }
    70%  { transform: translate(1px, 1px); filter: url(#filter); }
    80%  { transform: translate(-1px, -1px); filter: url(#filter); }
    90%  { transform: translate(1px, 0px); filter: url(#displacementFilter) url(#filter); }
    100% { transform: translate(0px, 0px); filter: url(#filter); }
  }

  

  @media screen and (max-width: 900px) {

    body{
      overflow-x: clip;
    }
    .interview-gallery {
      overflow-x: clip;
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 100;
      pointer-events: none;
      opacity: 0;
      transform: translateY(400px);
      transition: opacity 0.6s ease, transform 0.6s ease;
    }
    .interview-gallery.show {
      opacity: 1;
      transform: translateY(0px);
      
    }
  
    .interview-gallery picture {
      overflow-x: hidden;
      position: absolute;
      width: 80%;
      height: 25%;
      object-fit: cover;
      left: 0;
      background-color: rgb(209, 209, 209);
      padding:10%;
      padding-bottom: 30%;
      border-top: none;
      opacity: 0;
      transition: 
        opacity 0.6s ease,
        filter 0.6s ease;
      will-change: opacity, filter;
    }

    .image-caption{
      position: absolute;
      width: 80%;
      bottom: 5%;
      z-index: 1000;
      font-size: 15px;
      left:10%;
      font-family: 'space_mono';
    }
  
    .interview-gallery .current-image {
      bottom: 0;
      opacity: 1;
      transform: scale(1);
      filter: blur(0);
      z-index: 100;
      transition: 
      opacity 0.6s ease,
    
      filter 0.6s ease;
    }
  
    .interview-gallery .next-image {
      opacity: 0;
      transform: scale(0.9);
      transition: 
      opacity 0.6s ease,
      transform 2s ease,
      filter 0.6s ease;
    }
  
    .interview-info {
      padding-top: 20%;
      width: 90%;
      margin: 5%;
    }
  
    .interview-info img {
      width: 130%;
      margin-left: -10%;
    }

    .interview-intro{
      width: 80%;
      padding-top: 20px;
      margin: 0;
      padding:10%;
      font-size: 18px;
      line-height: 20px;
    }
    .header{
      scale:1;
    }
    article{
      padding-bottom: 10%;
    }
  }

